<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.nb.mybatis.model.INB_Report">
	<insert id="report" parameterType="NB_Report">
		insert into nb_report
		(Report_NB_ID,Report_Auther,Report_Cause)
		values(#{reportNbId},#{reportAuther},#{reportCause})
	</insert>
</mapper>