<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.nb.mybatis.model.INB_User">
	<select id="findUserById" parameterType="int" resultType="NB_User">
		select
		*
		from NB_User where id = #{id}
	</select>
	<select id="findUserByName" resultType="NB_User">
		select * from NB_User
		where name = #{name} and password = #{password}
	</select>
	<select id="matchUserFromActivity" resultType="NB_User">
		select * from
		NB_User
		where email = #{email} and password = #{password}
	</select>
	<insert id="register" parameterType="NB_User">
		insert into
		nb_user(email,name,password,status,registertime) values
		(#{email},#{name},#{password},#{status},#{registertime})
	</insert>
	<update id="deleteUserStatus" parameterType="Integer">
		update nb_user set
		status
		= #{user_status} where id = #{user_id}
	</update>
</mapper>