<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="jdbc.properties"></properties>
	<typeAliases>
		<typeAlias alias="NB_User" type="org.nb.mybatis.model.NB_User" />
		<typeAlias alias="NB_Entity" type="org.nb.mybatis.model.NB_Entity" />
		<typeAlias alias="NB_Reply" type="org.nb.mybatis.model.NB_Reply" />
		<typeAlias alias="NB_Report" type="org.nb.mybatis.model.NB_Report" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="org/nb/mybatis/mapper/NB_UserMapper.xml" />
		<mapper resource="org/nb/mybatis/mapper/NB_EntityMapper.xml" />
		<mapper resource="org/nb/mybatis/mapper/NB_ReplyMapper.xml" />
		<mapper resource="org/nb/mybatis/mapper/NB_ReportMapper.xml" />
	</mappers>
</configuration>